<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Engineering Academy of Phnom Penh">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ISTAD</title>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="grid grid-cols-12">

    <div class="col-span-2">
        <div th:replace="~{/fragments/menu}"></div>
    </div>

    <div class="col-span-10 gap-4">

        <div th:replace="~{/fragments/header}"></div>

        <main class="main" layout:fragment="main">

            <!-- main content will be rendered here -->

        </main>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<th:block layout:fragment="scripts">
    <!-- Children scripts -->
</th:block>

</body>
</html>